body {
    background-color: rgb(56, 55, 55);
    color: white;
    display: block;
    margin: 8px;
}

img{
    width: 200px;
}

#inventoryItems{
    display: grid;
    grid-template-columns: repeat(2, 520px);
    width: auto;
    user-select: none;
    overflow: hidden;
    justify-content: center;
}

#lootItems{
    display: grid;
    grid-template-columns: repeat(2, 520px);
    width: auto;
    user-select: none;
    overflow: hidden;
    justify-content: center;
}

.lootIMG{
    width: fit-content;
    height: fit-content;
    margin: 2%;
}